<div classNameName="relative top-32 p-2 ">
    <div className=" relative top-32 shadow-lg rounded-lg bg-white mx-auto m-8 p-4 notification-box flex">
        <div className="relative top-32 pr-2">
            <svg className="fill-current text-green-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="22"
                height="22">
                <path className="heroicon-ui"
                    d="M12 22a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm-3.54-4.46a1 1 0 0 1 1.42-1.42 3 3 0 0 0 4.24 0 1 1 0 0 1 1.42 1.42 5 5 0 0 1-7.08 0zM9 11a1 1 0 1 1 0-2 1 1 0 0 1 0 2zm6 0a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
            </svg>
        </div>
        <div className="relative top-32">
            <div className=" relative top-32 text-sm pb-2">
                Notification
            </div>
            <div classNameName="relative top-32 text-sm text-gray-600 tracking-tight">
                {apidata && apidata.length > 0 ? (
                    apidata.map((data, index) => (
                      <div key={index} className=' relative top-32 shadow-lg rounded-lg bg-white mx-auto m-8 p-4 notification-box flex mt-8'>
                        <p>Payment from :{data.name}</p>
                        <p>Payee Details: {data.mobile}</p>
                        <img src={`${BASE_URI}uploads/spay/${data.userId}.png`} style={{height:400}}  width={200} />
                        <div>
                          <button className='text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2'>Approved</button>
                          <button  className='text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900 mt-2'>Rejected</button>
                         </div>
                      </div>
                    ))
                  ) : (
                    <p>No notifications available</p>
                  )}
            </div>

        </div>
    </div>
</div>

////

<!DOCTYPE html> 
<html lang="en"> 


<body> 
	

	<div className="mt-28 text-center"> 
		<h1 className="text-5xl font-bold"> 
			GeeksforGeeks 
		</h1> 
		<h2 className="text-4xl text-green-600 
				mt-4 mb-4"> 
			Fixed Navbar Tailwind CSS 
		</h2> 
		<div> 
			<p className="text-2xl"> 
				GeeksforGeeks is a widely recognized and 
				popular online learning platform that 
				focuses on providing quality programming 
				tutorials and coding challenges. It is one 
				of the largest and most comprehensive 
				computer science portals globally, 
				catering to students, software 
				developers, and tech enthusiasts alike. 
				<br /> 
			</p> 
			<div className="text-3xl 
						font-bold py-5"> 
				Key features of GeeksforGeeks include: 
			</div> 
			<br /> 
			<p className="text-2xl"> 
				Coding Practice: GeeksforGeeks offers an 
				extensive collection of coding challenges 
				and practice problems across various 
				programming languages, data structures, 
				algorithms, and other computer science 
				topics. These practice exercises help 
				individuals improve their 
				problem-solving and coding skills. 
				<br /><br /> 
				Technical Articles and Tutorials: 
				GeeksforGeeks provides a vast repository 
				of technical articles and tutorials on 
				a wide range of topics, including 
				programming languages 
				(such as C++, Java, Python), algorithms, 
				data structures, web development, machine 
				learning, and more. These articles are 
				written in a concise and easy-to-understand 
				manner, making complex concepts 
				accessible to learners of all levels. 
			</p> 
		</div> 
	</div> 
</body> 

</html>
